* {
  margin: 0;
  padding: 0;
  /* font-size: 13px; */
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: hsl(210, 46%, 95%);
}

.wrapper__container {
  width: 700px;
  height: 300px;
  background-color: white;
  border-radius: 10px;
}
.wrapper__img {
  display: flex;
}

img:first-child {
  width: 40%;
  height: 300px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.wrapper__img__text {
  margin-top: 35px;
  margin-left: 35px;
  position: relative;
}
.wrapper__img__text__header {
}

.wrapper__img__text__paragraph {
  margin-top: 15px;
}
.publication {
  display: flex;
}

.wrapper__img__text .publication__avatar {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}
.publication__wrapper {
  margin-left: 20px;
}
.publication__name {
  margin-top: 5px;
}
.publication__data {
  margin-top: 6px;
}
.publication__wrapper__share {
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: 30px;
  margin-top: 10px;
  border-radius: 30px;
  background-color: hsl(210, 46%, 95%);
  background-image: url(/images/icon-share.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.publication__popup {
  position: absolute;
  top: 53%;
  left: 60%;
  margin: auto;
  /* margin-top: 130px; */
  /* margin-left: 240px; */
  width: 210px;
  height: 50px;
  background-color: hsl(217, 19%, 35%);
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* display: none; */
}
.publication__popup__text {
  color: white;
}

.active {
  display: block;
}
.no__active {
  display: none;
}
@media (max-width: 602px) {
  .wrapper__container {
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
  }
  .wrapper__img {
    display: block;
  }
  img:first-child {
    width: 100%;
    height: 270px;
    border-top-right-radius: 10px;
  }

  .wrapper__img__text {
    margin-top: 35px;
    margin-left: 0;
  }
  .wrapper__img__text__header {
    margin-left: 25px;
    margin-right: 18px;
  }
  .wrapper__img__text__paragraph {
    margin-left: 25px;
    margin-right: 18px;
  }
  .popup__phone__wrapper {
    width: 100%;
    height: 100px;
    display: none;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: hsl(217, 19%, 35%);
  }
  .popup_phone__twitter {
  }
  .popup_phone__text {
    color: white;
  }
  .popup__phone__share {
    width: 35px;
    height: 35px;
    border-radius: 30px;
    background-image: url(/images/icon-share.svg);
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}
